.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    align-items: center;
    left:10rem;
    top: 0;
    z-index:3;
    background: rgb(50, 50, 50);
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    transition: transform 0.5s ease; /* Add smooth transition effect */
    transform-style: preserve-3d; /* Enable 3D transformations */
    box-shadow: 0 0 10px rgba(229, 223, 223, 0.85); /* Adding box shadow for depth */
}

.logo:hover {
    transform: rotateY(10deg) rotateX(10deg); /* Apply rotation on hover */
}
.desktopmenuItem{
    margin:1rem;
    font-size:1.5rem;
    cursor: pointer;
    
}
.desktopmenuItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
    

}
.desktopbutton{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius:2rem;
}
.desktopButtonimg{
   height:2rem;
   width:2rem;
   margin:1rem;
}