*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background-color: rgb(28, 28, 28);
    color: antiquewhite;
    overflow: hidden;
    overflow-y: scroll;
}