.introSection{
    height:calc(100vh- 4rem);
    width:100dvw;
    max-width:75rem;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.myImg {
    position: absolute;
    z-index: -1;
    top: 12rem;
    right: 12vw;
    border-radius: 50%; /* Adjust to make it a perfect circle */
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    transition: transform 0.5s ease; /* Add smooth transition effect */
    transform-style: preserve-3d; /* Enable 3D transformations */
    box-shadow: 0 0 10px rgba(229, 223, 223, 0.85); /* Adding box shadow for depth */
}

.myImg:hover {
    transform: rotateY(15deg) rotateX(15deg); /* Apply rotation on hover */
}

.introSection{
    height:100vh;
    width:100vw;
    padding:2rem;
    font-size:3rem;
    font-weight:700;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.spanHello{
    font-size:1.75rem;
    font-weight:400;
  
}
.introName{
   color:yellow 
}

.introPara{
    font-size:medium;
    font-weight:400;
   
}
@media screen and (max-width:840px){
    .myImg{
        right:10vw;
    }
    
}