.projects{
    position:absolute;
    top:120rem;
    overflow:hidden;
    width:100vw;
    max-width:65rem;
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
 }
.projectBars{
    position: absolute;
    top:125rem;
    left:20rem;
   justify-content: center;
    margin:2rem;
    width:5vw;
    max-width: 80%;
    text-align: left;
    
}
.projectbar{
    
    display: flex;
    align-items: center;
    justify-content:left;
    width:70vw;
    margin: 1rem;
    margin-left:-7rem;
    padding:1rem;
    padding-left:1rem;
    border-radius:20px;
    
    background: rgb(50, 50,50);
}
.projectBarImg{
    object-fit: cover;
    height:10rem;
    width:10rem;
    margin-right:1rem;
}
.projectName{
    color:yellow;
    font-size:2rem;
    font-family: cursive;
    font-style: italic;
}
.projectPara{
    font-size:1.2rem;
}
.projectNameNews{
    position: relative;
    top:.10rem;
    color: yellow;
    font-size:2rem;
    font-family: cursive;
    font-style: italic;
    
}
.projectParaNews{
    font-size:1.2rem;
}
.projectNameBus{
    position: relative;
    top:.10rem;
    color: yellow;
    font-size:2rem;
    font-family: cursive;
    font-style: italic;
    
}
.projectoaraBus{
    font-size:1.2rem;
}
.projectHeading{
    position: absolute;
    color:yellow;
    font-size:60px;
    top:120rem;
    left:40rem;
}