.flexContainer {
    position: absolute;
    width:100rem;
    top: 100rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
}

.mainSkillsBox {
    flex: 0 0 25.33%; /* Three columns */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5rem; /* Adjust as needed */
    max-width: 33.33%; /* Limit the width to one-third of the container */
}
.headingSkills{
    position: absolute;
    font-family: cursive;
    font-size:3rem;
    font-style: italic;
    color: yellow;
    top:93rem;
    left:43rem;
}


.skillImageBox {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    /* Additional styling for the image container */
}

.skillImageBox {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    perspective: 1000px; /* Add perspective for 3D effect */
}

.SkillImage {
    width: 100%; /* Make sure the image takes the full width of its container */
    height: 100%; /* Make sure the image takes the full height of its container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    transition: transform 0.5s ease; /* Add smooth transition */
}

.skillImageBox:hover .SkillImage {
    transform: scale(1.2) rotateY(180deg); /* Rotate the image on hover */
}

