#skills{
    overflow:hidden;
    width:100vw;
    max-width:65rem;
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
 }
 .skillsTitle{
     font-size: 3rem;
     font-weight: 600;
     padding-top: 3rem;
     margin-bottom:1.5rem;
 }
 .skillsDesc{
     font-weight:300;
     font-size:1.2rem;
     max-width:50rem;
     padding:0 2rem;
 
 }
 .skillBars{
     position: absolute;
     top:60rem;
     left:25rem;
     
     justify-content: center;
     margin:1.5rem ;
     width:5vw;
     max-width: 80%;
     text-align: left;
     
 
 }
 .skillbar{
 
     display: flex;
     align-items: center;
     justify-content:left;
     width:40vw;
     margin:1rem;
     padding:1rem;
     padding-left:1rem;
     border-radius:20px;
     
     background: rgb(50, 50,50);
 }
 .skillBarImg{
     object-fit: cover;
     height:3rem;
     width:3rem;
     margin-right:1rem;
 }
 
 .skillBarText>p{
     font-size:1.2rem;
     font-weight:100;
 }
 